In [1]:
import pandas as pd
from pandas import read_excel
import numpy as np

In [2]:
df = read_excel('data.xlsx', sheet_name='2013-2018', engine='openpyxl')
df.head()

,регион измерения,январь,февраль,март,апрель,май,июнь,июль,август,сентябрь,...,март.5,апрель.5,май.5,июнь,июль.5,август.5,сентябрь.5,октябрь.5,ноябрь.5,декабрь.5
0,Российская Федерация,26840.1,26619.6,28692.9,30025.9,29723.0,30986.1,30228.7,29226.3,29345.5,...,42363.573197,43381.051689,44075.537537,45848.077648,42413.465177,41363.600671,41774.303366,42331.668715,42595.005330,55569.330224
1,Центральный федеральный округ,32118.1,32249.7,35164.6,37138.0,35546.7,37723.0,37394.0,35277.9,35156.4,...,53771.108479,56192.142999,53566.574932,58177.204035,52984.806847,51383.060017,51529.217602,52715.114811,52642.495123,71661.794213
2,Белгородская область,20381.2,19643.7,21027.2,21700.9,21905.5,22323.0,23128.5,22271.2,21870.4,...,30092.120040,31477.559109,31179.394927,31947.007286,32422.184653,31603.086760,30909.676470,31823.450615,31162.800891,37577.386047
3,Брянская область,16773.9,16632.4,17834.5,18263.5,19883.9,20178.2,19034.5,19197.6,18717.6,...,25772.943631,26218.157759,29552.233919,29209.524124,26891.589526,27094.764072,26484.910603,26892.199954,27402.825768,32254.503080
4,Владимирская область,18379.5,18563.0,19203.7,19567.2,19809.7,20351.6,20783.7,20593.7,20037.2,...,29543.866413,29425.484793,31177.147074,33806.067775,31565.289709,31510.741043,31431.942284,31423.128169,31646.622972,38008.974896

In [3]:
data = list(df.iloc[0][1:])

In [4]:
print(data)

[26840.1, 26619.6, 28692.9, 30025.9, 29723.0, 30986.1, 30228.7, 29226.3, 29345.5, 30069.0, 30289.6, 39648.4, 29535.0, 29255.3, 31485.9, 32947.3, 32271.8, 33726.1, 32514.7, 30763.2, 31929.2, 32439.1, 32546.1, 42135.7, 30928.6, 31325.3, 32642.2, 34377.3, 34380.4, 35394.5, 33900.6, 32175.8, 32911.0, 33357.0, 33346.8, 43407.7, 32659.6, 33873.4, 35500.6, 36497.4, 37269.8, 38447.4, 35887.8, 35405.1, 35843.4, 35749.0, 36195.2, 47554.0, 34421.596137846755, 35497.107328761245, 37899.48251158797, 39225.10619901859, 39679.44386059475, 41453.81668524139, 38073.16027688964, 37098.68891890836, 38046.788417519194, 38332.64732426007, 38847.80881673527, 51197.345185527614, 39016.684178807125, 40443.36287949518, 42363.57319728616, 43381.051688982996, 44075.53753738286, 45848.07764798236, 42413.4651766869, 41363.60067139412, 41774.30336641229, 42331.66871452135, 42595.005329930966, 55569.330224101825]

In [5]:
# Выравниевание скользящей средней
n = len(data)
sum_by_kvartal = []
for i in range(0, n - 3):
    sum_by_kvartal.append(data[i] + data[i + 1] + data[i + 2] + data[i + 3])
print(sum_by_kvartal)

[112178.5, 115061.4, 119427.9, 120963.7, 120164.1, 119786.6, 118869.5, 118930.4, 129352.5, 129542.0, 128728.3, 129924.6, 123223.50000000001, 125960.3, 130431.1, 131459.90000000002, 129275.79999999999, 128933.2, 127646.20000000001, 127677.6, 139050.09999999998, 138049.5, 136935.69999999998, 137031.8, 129273.4, 132725.2, 136794.4, 138052.80000000002, 135851.3, 134381.90000000002, 132344.4, 131790.6, 143022.5, 142771.1, 143287.5, 145441.3, 138531.0, 143141.2, 147715.2, 148102.40000000002, 147010.1, 145583.7, 142885.3, 143192.7, 155341.59999999998, 153919.79613784674, 153667.903466608, 155372.18597819598, 147043.29217721458, 152301.13989996258, 158257.8492564427, 158431.52702174435, 156305.10974163417, 154672.4542985586, 151551.28493757726, 152325.93347742286, 166424.58974404214, 167394.48550533009, 169505.2010605652, 173020.96544111607, 165204.67194457146, 170263.52530314718, 175668.24007163438, 175718.13205103512, 173700.68103344625, 171399.44686247566, 167883.03792901465, 168064.57808225873, 182270.30763496645]

In [6]:
# Скользящая средняя
for i in range(len(sum_by_kvartal)):
    sum_by_kvartal[i] = sum_by_kvartal[i] / 4
print(sum_by_kvartal)

[28044.625, 28765.35, 29856.975, 30240.925, 30041.025, 29946.65, 29717.375, 29732.6, 32338.125, 32385.5, 32182.075, 32481.15, 30805.875000000004, 31490.075, 32607.775, 32864.975000000006, 32318.949999999997, 32233.3, 31911.550000000003, 31919.4, 34762.524999999994, 34512.375, 34233.924999999996, 34257.95, 32318.35, 33181.3, 34198.6, 34513.200000000004, 33962.825, 33595.475000000006, 33086.1, 32947.65, 35755.625, 35692.775, 35821.875, 36360.325, 34632.75, 35785.3, 36928.8, 37025.600000000006, 36752.525, 36395.925, 35721.325, 35798.175, 38835.399999999994, 38479.949034461686, 38416.975866652, 38843.046494548995, 36760.823044303645, 38075.284974990645, 39564.46231411068, 39607.88175543609, 39076.27743540854, 38668.11357463965, 37887.821234394316, 38081.483369355716, 41606.147436010535, 41848.62137633252, 42376.3002651413, 43255.24136027902, 41301.167986142864, 42565.881325786795, 43917.060017908596, 43929.53301275878, 43425.17025836156, 42849.861715618914, 41970.75948225366, 42016.14452056468, 45567.57690874161]

In [7]:
# Центрированная скользящая средняя
center_mean = []
for i in range(0, len(sum_by_kvartal) - 1):
    center_mean.append((sum_by_kvartal[i] + sum_by_kvartal[i + 1]) / 2)
print(center_mean)

[28404.9875, 29311.1625, 30048.949999999997, 30140.975, 29993.8375, 29832.0125, 29724.9875, 31035.3625, 32361.8125, 32283.7875, 32331.612500000003, 31643.512500000004, 31147.975000000002, 32048.925000000003, 32736.375000000004, 32591.9625, 32276.125, 32072.425000000003, 31915.475000000002, 33340.962499999994, 34637.45, 34373.149999999994, 34245.9375, 33288.149999999994, 32749.825, 33689.95, 34355.9, 34238.0125, 33779.15, 33340.787500000006, 33016.875, 34351.6375, 35724.2, 35757.325, 36091.1, 35496.5375, 35209.025, 36357.05, 36977.200000000004, 36889.0625, 36574.225000000006, 36058.625, 35759.75, 37316.7875, 38657.674517230844, 38448.46245055684, 38630.0111806005, 37801.93476942632, 37418.054009647145, 38819.873644550666, 39586.17203477338, 39342.079595422314, 38872.195505024094, 38277.96740451698, 37984.652301875016, 39843.815402683125, 41727.38440617153, 42112.46082073691, 42815.77081271016, 42278.204673210945, 41933.52465596483, 43241.470671847695, 43923.296515333685, 43677.351635560175, 43137.51598699024, 42410.31059893629, 41993.45200140917, 43791.86071465314]

In [8]:
# Оценка сезонной компоненты
estimate = []
for i in range(2, len(center_mean) + 2):
    estimate.append(data[i] - center_mean[i - 2])
dict(zip([3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], estimate))

{3: 287.9125000000022,
 4: 714.7375000000029,
 5: -325.9499999999971,
 6: 845.125,
 7: 234.86249999999927,
 8: -605.7125000000015,
 9: -379.4874999999993,
 10: -966.3624999999993,
 11: -2072.2125000000015,
 12: 7364.612500000003,
 13: -2796.612500000003,
 14: -2388.212500000005}

In [9]:
# Таблица по годам
table = {"I": pd.Series(['-', 0.575, 0.55, 0.675], index=[1, 2, 3, 4]),
         'II': pd.Series(['-', -2.075, -2.025, -1.775], index=[1, 2, 3, 4]),
         'III': pd.Series([-1.25, -1.1, -1.475, '-'], index=[1, 2, 3, 4]),
         'IV': pd.Series([2.55, 2.7, 2.875, '-'], index=[1, 2, 3, 4]), }
data = pd.DataFrame(table)
data

       I     II    III     IV
1      -      -  -1.25   2.55
2  0.575 -2.075   -1.1    2.7
3   0.55 -2.025 -1.475  2.875
4  0.675 -1.775      -      -

In [10]:
# Итого за i-й квартал (за все годы)
Total = pd.Series(
    [sum([0.575, 0.55, 0.675]), sum([-2.075, -2.025, -1.775]), sum([-1.25, -1.1, -1.475]), sum([2.55, 2.7, 2.875])],
    index=[1, 2, 3, 4])
Total

1    1.800
2   -5.875
3   -3.825
4    8.125
dtype: float64

In [11]:
#Средняя оценка сезонной компоненты для i-го квартала
S_mean = Total / 3
S_mean

1    0.600000
2   -1.958333
3   -1.275000
4    2.708333
dtype: float64

In [12]:
# Скорректированная сезонная компонента
S_correct = S_mean
k = sum(S_mean) / 4
for i in range(1, 5):
    S_correct[i] = S_mean[i] - k
S_correct

1    0.581250
2   -1.977083
3   -1.293750
4    2.689583
dtype: float64

In [13]:
sum(S_correct)

4.440892098500626e-16

In [14]:
# Элиминируем влияние сезонной компоненты T+E=Y-S
TE = []
estimate.insert(0, 0.581250)
estimate.insert(1, -1.977083)
estimate.append(-1.293750)
estimate.append(2.689583)
data = list(df.iloc[0][1:])
for i in range(0, 16):
    TE.append(data[i] - estimate[i])
print(TE)

[26839.51875, 26621.577083, 28404.9875, 29311.1625, 30048.949999999997, 30140.975, 29993.8375, 29832.0125, 29724.9875, 31035.3625, 32361.8125, 32283.7875, 32331.612500000003, 31643.512500000004, 31147.975000000002, 32048.925000000003]

In [15]:
# Определение компоненты T
TE = pd.Series(TE)
a1 = 0
TSUM = 0
tSUM = 0
tSUMPow2 = 0
TSUMt = 0
TSUM = sum(data)
Indexes = [i for i in range(1, 17)]
IndexSeries = pd.Series(Indexes)
tSUM = sum(Indexes)
for i in range(0, len(TE)):
    tSUMPow2 = tSUMPow2 + Indexes[i] ** 2
    TSUMt = TSUMt + TE[i] * Indexes[i]
a1 = (TSUM * tSUM - TSUMt * len(TE)) / (tSUM ** 2 - tSUMPow2 * len(TE))
a0 = TE.mean() - IndexSeries.mean() * a1
T = [a0 + a1 * (i + 1) for i in range(0, 16)]
X = IndexSeries.values

In [16]:
TS = []
for i in range(0, 16):
    TS.append(T[i] + S_correct[i % 4 + 1])
print(TS)

[423226.64276740677, 370825.36786369415, 318427.3346266483, 266032.6013896024, 213631.7764858898, 161230.50158217727, 108832.46834513133, 56437.73510808545, 4036.9102043729044, -48364.3646993397, -100762.39793638558, -153157.13117343147, -205557.95607714402, -257959.23098085666, -310357.26421790256, -362751.99745494843]

In [17]:
E = []
for i in range(0, 16):
    E.append(data[i] - TS[i])
E2 = []
for i in range(0, 16):
    E2.append(E[i] ** 2)
print(E)
print(E2)

[-396386.5427674068, -344205.7678636942, -289734.43462664826, -236006.70138960241, -183908.7764858898, -130244.40158217726, -78603.76834513134, -27211.43510808545, 25308.589795627096, 78433.3646993397, 131051.99793638557, 192805.53117343146, 235092.95607714402, 287214.5309808567, 341843.1642179026, 395699.2974549484]
[157122291287.0972, 118477610630.63531, 83946042608.42351, 55699163100.800964, 33822438068.536972, 16963604143.499458, 6178552398.055071, 740462200.6415454, 640524717.44332, 6151792698.059627, 17174626163.118406, 37173972851.06905, 55268697997.089966, 82492186806.55348, 116856748922.5079, 156577934006.33975]

In [18]:
# Построение мультипликативной модели временного ряда
# Первые шаги повторяются до нахождения скорректированной компоненты
# Выравниевание методом скользящей средней
y = [72, 100, 90, 64, 70, 92, 80, 58, 62, 80, 68, 48, 52, 60, 50, 40]
n = len(y)
sum_by_kvartal = []
for i in range(0, n - 3):
    sum_by_kvartal.append(y[i] + y[i + 1] + y[i + 2] + y[i + 3])

# Скользящая средняя
for i in range(len(sum_by_kvartal)):
    sum_by_kvartal[i] = sum_by_kvartal[i] / 4

# Центрированная скользящая средняя
center_mean = []
for i in range(0, len(sum_by_kvartal) - 1):
    center_mean.append((sum_by_kvartal[i] + sum_by_kvartal[i + 1]) / 2)

# Оценка сезонной компоненты
estimate = []
for i in range(2, len(center_mean) + 2):
    estimate.append(y[i] / center_mean[i - 2])
print(dict(zip([3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], estimate)))
# Таблица по годам
table = {"I": pd.Series(['-', 0.9, 0.905, 0.950], index=[1, 2, 3, 4]),
         'II': pd.Series(['-', 1.215, 1.217, 1.194], index=[1, 2, 3, 4])
    , 'III': pd.Series([1.108, 1.081, 1.075, '-'], index=[1, 2, 3, 4]),
         'IV': pd.Series([0.8, 0.817, 0.807, '-'], index=[1, 2, 3, 4]), }
data = pd.DataFrame(table)
data

{3: 1.1076923076923078, 4: 0.8, 5: 0.9003215434083601, 6: 1.2145214521452146, 7: 1.0810810810810811, 8: 0.8111888111888111, 9: 0.9051094890510949, 10: 1.2167300380228137, 11: 1.075098814229249, 12: 0.8067226890756303, 13: 0.9497716894977168, 14: 1.1650485436893203}

       I     II    III     IV
1      -      -  1.108    0.8
2    0.9  1.215  1.081  0.817
3  0.905  1.217  1.075  0.807
4   0.95  1.194      -      -

In [19]:
# Итого за i-й квартал (за все годы)
Total = pd.Series(
    [sum([0.9, 0.905, 0.950]), sum([1.215, 1.217, 1.194]), sum([1.108, 1.081, 1.075]), sum([0.8, 0.817, 0.807])],
    index=[1, 2, 3, 4])
Total

1    2.755
2    3.626
3    3.264
4    2.424
dtype: float64

In [20]:
# Средняя оценка сезонной компоненты для i-го квартала
S_mean = Total / 3
S_mean

1    0.918333
2    1.208667
3    1.088000
4    0.808000
dtype: float64

In [21]:
S_correct = S_mean
k = 4 / sum(S_mean)
for i in range(1, 5):
    S_correct[i] = S_mean[i] * k
S_correct

1    0.913083
2    1.201757
3    1.081780
4    0.803381
dtype: float64

In [22]:
sum(S_correct)

3.9999999999999996

In [23]:
# Элиминируем влияние сезонной компоненты T+E=Y-S
TE = []
estimate.insert(0, 0.913083)
estimate.insert(1, 1.201757)
estimate.append(1.081780)
estimate.append(0.803381)
for i in range(0, 16):
    TE.append(y[i] / estimate[i])
print(TE)

[78.85372961713229, 83.21149783192443, 81.25, 80.0, 77.75, 75.75, 74.0, 71.5, 68.5, 65.75, 63.25, 59.5, 54.75, 51.5, 46.22011869326481, 49.78957680104458]

In [24]:
TE = pd.Series(TE)
a1 = 0
TSUM = 0
tSUM = 0
tSUMPow2 = 0
TSUMt = 0
TSUM = sum(TE)
tSUM = sum(Indexes)
for i in range(0, len(TE)):
    tSUMPow2 = tSUMPow2 + Indexes[i] ** 2
    TSUMt = TSUMt + TE[i] * Indexes[i]
a1 = (TSUM * tSUM - TSUMt * len(TE)) / (tSUM ** 2 - tSUMPow2 * len(TE))
a0 = TE.mean() - IndexSeries.mean() * a1
T = [a0 + a1 * (i + 1) for i in range(0, 16)]
X = IndexSeries.values
print(T)

[86.23097188665038, 83.74663332629171, 81.26229476593305, 78.77795620557438, 76.29361764521572, 73.80927908485705, 71.32494052449839, 68.84060196413972, 66.35626340378106, 63.87192484342239, 61.387586283063726, 58.90324772270505, 56.41890916234639, 53.93457060198772, 51.45023204162906, 48.96589348127039]

In [25]:
TS = []
for i in range(0, 16):
    TS.append(T[i] * S_correct[i % 4 + 1])
print(TS)

[78.73604359854893, 100.64306651458571, 87.90790624442968, 63.28867871151289, 69.66241332755631, 88.70078580220122, 77.15787749505766, 55.30520147852337, 60.588783056563685, 76.75850508981675, 66.40784874568564, 47.32172424553385, 51.51515278557106, 64.81622437743226, 55.657819996313606, 39.338247012544336]

In [26]:
E = []
for i in range(0, 16):
    E.append(y[i] - TS[i])
E2 = []
for i in range(0, 16):
    E2.append(E[i] ** 2)
print(E)
print(E2)

[-6.736043598548932, -0.643066514585712, 2.0920937555703176, 0.7113212884871132, 0.3375866724436918, 3.2992141977987757, 2.8421225049423384, 2.6947985214766277, 1.4112169434363153, 3.241494910183249, 1.5921512543143592, 0.6782757544661493, 0.48484721442893886, -4.816224377432263, -5.657819996313606, 0.6617529874556638]
[45.374283361552045, 0.41353454218141567, 4.376856282096316, 0.5059779754549669, 0.11396476141160444, 10.884814322957018, 8.077660333099713, 7.261939071352619, 1.9915332614417365, 10.50728925274391, 2.5349456166147872, 0.46005799909662404, 0.23507682133950142, 23.19601725377279, 32.01092711068609, 0.43791701640649594]